$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$pink: #FF8282;
$darkpink: #D24899;

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    src: local(oswaldmedium),
    url("../../fonts/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswaldregular.woff") format("woff");
}

.cart{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: $mobile-width-only){
        //margin-top: 11px;!!!!!!!!!!!
        height: 480px;
        width: 100%;
        color: white;
    }

    @media (min-width: $tablet-width){
        display: flex;
        height: 810px;
        width: 708px;
    }
    @media (min-width: $desktop-width){
        display: flex;
        height: 553px;
        width: 1220px;
        flex-direction: column;
    }
}

.page-main__title{
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width-only){
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    margin-top: 27px;
    font-weight: 400;
    text-align: center;
    width: 78.12%;
    }

    @media (min-width: $tablet-width){
        font-size: 60px;
        line-height: 60px;
        width: 414px;
        font-weight: 400;
        text-align: left;
        margin: 0;
    }

    @media (min-width: $desktop-width){
        font-size: 60px;
        line-height: 60px;
        width: 430px;
        margin: 0 0 0 80px;
        text-align: center;
    }
}

.cart-container{
    @media (max-width: $mobile-width-only){
        background-color: $lightgreen;
        background-image: url(/../../img/src/cart/index-background-mobile\ 1.jpg);
        background-repeat: no-repeat;
        color: white;
        background-position: top;
        background-size: cover;
        height: 305px;
        display: flex;
        width: 100%;
    }
    @media(min-width: $tablet-width){
        height: 284px;
        margin: 0 0 0 87px;
    }
}

.cart-container span{
    display: flex;
    text-transform: uppercase;

        @media (max-width: $mobile-width-only){
    font-size: 14px;
    line-height: 14px;
    margin: 25px 0 29px 0;
    font-weight: 400;
    justify-content: center;
    }

    @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 20px;
    margin: 41px 0 49px 0;
    font-weight: 400;
    justify-content: flex-start;
    }
    @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 20px;
    margin: 40px 0 52px 0;
    font-weight: 400;
    justify-content: flex-start;
    }
}

.cart__button{
    color: white;
    background-color: $lightgreen;
    display: flex;
    font-family: Oswald;
    position: relative;
    
    @media (max-width: $mobile-width-only){
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        width: 87.5%;
        height: 40px;
        margin: 0 auto;
        margin-top: 135px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    @media (min-width: $tablet-width){
        font-size: 20px;
        text-transform: uppercase;
        width: 244px;
        height: 54px;
        margin-top: 49px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: $mobile-width-only){
    .cart__button::before{
        content: "";
        width: 280px;
        height: 270px;
        position: absolute;
        bottom: 35px;
        z-index: 2;
        background-image: url(/../../img/src/cart/index-can-mobile%201.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
@media (min-width: $tablet-width){
    .cart__button::before{
        content: "";
        width: 280px;
        height: 270px;
        position: absolute;
        bottom: 35px;
        z-index: 2;
        background-image: url(/../../img/src/cart/index-can-tablet1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
