
$tablet-width: 768px;
$desktop-width: 1400px;
$mobile-width-only: 767px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$pink: #FF8282;
$darkpink: #D24899;

.footer{
    display: grid;
    flex-wrap: wrap;
    margin:0 auto;
    box-sizing: border-box;
    
    @media (max-width: $mobile-width-only){
        height: 236px;
        width: 320px;
        background-color: $grey;
        
    }
    
    @media (min-width: $tablet-width){
        height: 150px;
        width: 768px;
        background-color: $grey;
    }
    @media (min-width: $desktop-width){
        height: 149px;
        width: 1440px;
        background-color: $grey;
    }
}

