
$tablet-width: 768px;
$desktop-width: 1400px;
$mobile-width-only: 767px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$darkgrey: #E6E6E6;
$lightgrey: #D9D9D9;
$pink: #FF8282;
$darkpink: #D24899;

.location{
    display: grid;
    flex-wrap: wrap;
    margin:0 auto;
    box-sizing: border-box;
    width: 100%;
}

.location iframe{
    height: 362px;
}

.location-container{
    width: 87.5%;
    margin: 0 auto;
    padding: 28px 0 22px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: $tablet-width){
        padding: 99.31px 71px 51.27px 72px;
        margin: 0;
    }

    @media (min-width: $desktop-width){
        width: 84.72%;
    }
}

.location__title{
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-width){
        font-size: 20px;
        line-height: 21px;
    }
}

.location__text{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: arial;
    @media (min-width: $tablet-width){
        font-size: 16px;
        line-height: 20px;
        justify-self: end;
    }
}