$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

.main-nav{
    text-align: center;
    justify-content: space-between;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    
    @media (max-width:$mobile-width-only) {
        display: none;
    }
    
    @media (min-width: $tablet-width){
        height: 36px;
        width: 440px;
        font-size: 18px;
        line-height: 24px;
        
        margin-left: 95px;
        margin-top: 42px;
    }
    @media (min-width: $desktop-width){
        height: 40px;
        width: 478px;
        font-size: 20px;
        background-color: green;
        margin-left: 540px;
        margin-top: 71px;
    }
}

.main-nav__wrapper{
    width: 100%;
}

.main-nav__list{
    @media (min-width: $tablet-width){
        display: flex;
        justify-content: space-around;
        width: 100%;
        }
}
.main-nav__list{
    display:flex;
    
    @media (max-width:$mobile-width-only) {
        display: flex;
        flex-direction: column;
    }
}
    
.site-list__item {
    @media (max-width:$mobile-width-only) {
    padding: 10px 0 10px 0;
a{
    color: black;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}}}

.site-list__item a{
    
   @media (min-width: $tablet-width){
        color: black;
}
   @media (min-width: $desktop-width){
        color: white;
}
}


.main-nav__toggle{
    
        @media (min-width: $tablet-width){
        display: none;   
    }
    @media (min-width: $desktop-width){
        display: none;  
    }
}

