
$tablet-width: 768px;
$desktop-width: 1400px;
$mobile-width-only: 767px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$pink: #FF8282;
$darkpink: #D24899;

.page-header{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: $mobile-width-only){
        margin-top: 11px;
    }

    @media (min-width: $tablet-width){
        display: flex;
        height: 140px;
    }
    @media (min-width: $desktop-width){
        display: grid;
        height: 223px;
        grid-template-columns: 1fr 1fr;
    }
}

.page-header__container{
    display: flex;
    width: 87.5%;
    align-items: center;
    justify-content: space-between;

        @media (min-width: $tablet-width){
            display: flex;
            width: 175px;
            height: 52px;
            margin-top: 24px;
        }
        @media (min-width: $desktop-width){
            display: flex;
            //width: 202px;
            flex-grow: 1;
            height: 59px;
            margin-top: 53px;
        }
}

.main-nav__toggle{
  display: flex;
  border: none;
  color: white;
  background-color: white;
  width: 24px;
  height: 19px;
  position: relative;
  padding: 0;

  &--closed{
    &::before{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 2px;
      width: 24px;
      z-index: 2;
      background-color: black;
      box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;

    }
  }

  @media (min-width: $tablet-width){
    display: none;
  }
  @media (min-width: $desktop-width){
    display: none;
  }
}

.main-nav__toggle--opened{
  display: flex;
  border: none;
  color: white;
  background-color: white;
  width: 24px;
  height: 24px;//closed 19
  position: relative;
  padding: 0;

  &::before,
  &::after{
    content: "";
    position: absolute;
    right: 25px;
    bottom: 12px;
    height: 1px;
    width: 24px;
    z-index: 2;
    background-color: black;
  }

  &::before{
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after{
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width){
    display: none;
  }
  @media (min-width: $desktop-width){
    display: none;
  }
}








