
$tablet-width: 768px;
$desktop-width: 1400px;
$mobile-width-only: 767px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$pink: #FF8282;
$darkpink: #D24899;

.page-header{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: $mobile-width-only){
        margin-top: 11px;
    }

    @media (min-width: $tablet-width){
        display: flex;
        height: 140px;
    }
    @media (min-width: $desktop-width){
        display: grid;
        height: 223px;
        grid-template-columns: 1fr 1fr;
    }
}

.page-header__container{
    display: flex;
    width: 87.5%;
    align-items: center;
    justify-content: space-between;

        @media (min-width: $tablet-width){
            display: flex;
            width: 175px;
            height: 52px;
            margin-top: 24px;
        }
        @media (min-width: $desktop-width){
            display: flex;
            //width: 202px;
            flex-grow: 1;
            height: 59px;
            margin-top: 53px;
        }
}
